{{define "content"}}
<form style="display: none;"><textarea style="display: none;" id="pgnText">
{{.pgn}}
</textarea></form>
<div id="GameBoard"></div>
<div id="GameButtons"></div>
<div id="GameText"></div> 
{{end}}

{{define "scripts"}}
<style type="text/css">

.moveOn,
.variationOn {
  background: #DAF4D7;
}

</style>
<script type="text/javascript" src="/js/pgn4web.js"></script>
<script type="text/javascript">
SetImagePath("/images");
SetHighlightOption(true)
SetShortcutKeysEnabled(true);
</script>
{{end}}
