{{define "content"}}
<h3>Game has been moved</h3>
<div>
Due to space constraints, old games are packaged and moved to <a href="http://data.lczero.org/files/">another server</a> every few days.
</div>
{{end}}

{{define "scripts"}}
{{end}}
