{{define "content"}}
<h2>User {{.user}}</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Client</th>
        <th>Client Version</th>
        <th>Engine Version</th>
        <th>Last Game</th>
        <th>GPU</th>
      </tr>
    </thead>
    <tbody>
      {{range .clients}}
      <tr>
        <td><a href="/client/{{.user}}/{{.client}}">{{.client_name}}</a></td>
        <td>{{.client_version}}</td>
        <td>{{.engine_version}}</td>
        <td>{{.last_game}}</td>
        <td>{{.client_gpu}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
