{{define "content"}}
<script>
  function status(t) {document.currentScript.parentElement.style.color=(new Date-new Date(t.substring(0,19)+'Z') < 900000)?'green':'red';}
</script>
<h2>User {{.user}}</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Status</th>
        <th>Client</th>
        <th>Client Version</th>
        <th>Engine Version</th>
        <th>Last Game</th>
        <th>GPU</th>
      </tr>
    </thead>
    <tbody>
      {{range .clients}}
      <tr>
        <td><script>status('{{.last_game}}')</script>&#9679;</td>
        <td><a href="/client/{{.user}}/{{.client}}">{{.client_name}}</a></td>
        <td>{{.client_version}}</td>
        <td>{{.engine_version}}</td>
        <td>{{.last_game}}</td>
        <td>{{.client_gpu}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
